

<div class="btn-blue-logo">
  <%= link_to root_path, class: "btn-blue-logo" do %>
  <span class="btn-square">
    <span class="btn__inner">

      <%= image_tag "noodlepoll-small.png" %>
      <%#= image_tag "boolrank-logo.png" %>
      <%#= image_tag "Boolrank.png" %>
      </span>
    </span>
    <% end %>
  </div>



<div class="btn-dropdown">
    <span class="btn-square">
      <span class="btn__inner">
        <div class="navbar-wagon-item">
         <%#= yield(:navbar_link) %>
         <div class="dropdown">


<% if user_signed_in? %>
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to profiles_path do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %></li>
            <li> <%= link_to root_path do %>
            <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
            <% end %></li>
            <li> <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %></li>
          </ul>

          <% else %>
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
           <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %></li></ul>


        </div>
      </div>
    </span>
  </span>
</div>





