<div class="banner">
  <div class="banner-content">
    <div id="image-and-magic-ball">
      <p id="magic_8_ball" ></p>
      <%= image_tag "Boolrank-white.png", class: "logo-front-page" %>
    </div>
    <h1>Create a NoodlePoll</h1>
    <p>Let the noodles choose for you</p>
    <%= simple_form_for(@poll, url: polls_path, method: 'post') do |f| %>
      <%= f.input :title, placeholder: "What is your dilemma?", label: false, id: "input-front-page",:maxlength => 100, autofocus: true %>
      <%= f.button :submit, class: "btn-medium", id: "home-button" %>
    <% end %>
  </div>
</div>
<%= render '/polls/home_special', public_poll: @poll_public %>

<script>
  var magic_8_ball = []
  <% unless @magic_8_ball.nil? %>
    <% @magic_8_ball.each do |answer| %>
      magic_8_ball.push("<%= answer %>")
    <% end %>
    var logo = document.querySelector(".logo-front-page")
    logo.addEventListener('click', (e) => {
      document.getElementById("magic_8_ball").innerText = sample(magic_8_ball)
    });

    var magic_text = document.getElementById("magic_8_ball");
    magic_text.addEventListener('click', (e) => {
      magic_text.innerText = sample(magic_8_ball)
    });
  <% end %>
  function sample(array) {
    return array[Math.floor(Math.random()*array.length)]
  }
  // const button = document.getElementById("home-btn")
  // button.addEventListener('click', (e) => {
  //   if (button.innerText == "") {
  //     e.preventDefault;
  //     button.addClass('red-border');
  //     button.addLabel("cant be blank");
  //   }
  // });

</script>
