
<%= simple_form_for(@poll) do |f| %>
  <p>Poll Title:</p>
    <%= f.input :title, placeholder: "Enter the Title of your new poll", value: @poll.title, label: false %>
    <%= f.hidden_field :description, placeholder: "Give a small description (optional)" %>
    <%= f.hidden_field :photo, placeholder: "Add a photo (optional)"%>
    <%= f.hidden_field :status, value: true %>
    <%= f.button :submit, class: "btn-black flex-box"  %>
<% end %>
