<%= simple_form_for([@poll, @proposition], url: poll_propositions_path(@poll), method: 'post') do |f| %><div class="flex-box">
  <div class="name-box">
    <%= f.input :name, placeholder: "Name of the proposition", label: false%>
    <%= f.hidden_field :score, value: 0 %>
</div>
<div class="photo-box">
    <%= f.input :photo, as: :attachinary %>
</div>
    </div>
    <%= f.hidden_field :hashtag, value: "#" %>
    <%= f.hidden_field :description, placeholder: "Give a small description (optional)" %>
    <%= f.button :submit, class: "btn-burger flex-box"  %>

<% end %>



<script>
  // console.log(document.getElementsByClassName('control-label attachinary')[0])
  document.getElementsByClassName('control-label attachinary')[0].innerHTML = "<i class='fa fa-plus'></i>";
</script>
