<%= simple_form_for([@poll, @proposition], url: poll_propositions_path(@poll), method: 'post') do |f| %>
    <%= f.input :name, placeholder: "Name of the proposition"%>
    <%= f.hidden_field :score, value: 0 %>
    <%= f.input :photo, as: :attachinary %>
    <%= f.hidden_field :hashtag, value: "#" %>
    <%= f.hidden_field :description, placeholder: "Give a small description (optional)" %>
    <%= f.button :submit, class: "btn btn-medium"  %>
<% end %>


<div class="fileUpload">
<span class="custom-span">+</span>
<p class="custom-para">Add Images</p>
<input id="uploadBtn" type="file" class="upload" />
</div>
<input id="uploadFile" placeholder="0 files selected" disabled="disabled" />


<script type="text/javascript">
document.getElementById("uploadBtn").onchange = function () {
document.getElementById("uploadFile").value = this.value;
};
</script>
