
 <div class="best-prop" style="height: 588px; background-image: url('<%= image_path  @propositions.first.photo  %>')">
        </div>

<% @propositions[1..-1].each_with_index do |proposition, index|%>
         <div class="other-prop" style="height: 588px; background-image: url('<%= image_path  proposition.photo %>')">
        </div>
        <%= index %>
        <% end %>


<h1><%= link_to 'Participants', poll_participants_path(@poll) %></h1>
      <div class="participants-nbr"><h1><%= @poll.participants.count %></h1>
<!-- </div> -->

