<div class="site-content flex-box">
  <div class="container flex-box">
    <div class="row">
      <div class="col-xs-12 ">
        <div class="form-new-poll">
          <div class="update-poll">
            <h1 >New Poll</h1><hr>
            <%= render 'form_new_poll' %>
          </div>
          <div class="add-prop-2">
            <h2>Add Options</h2><hr>
            <% if @poll.propositions.length < 7 %> <!-- MAX 7 PROPOSITIONS-->
              <%= render "form_proposition" %>
            <% else %>
              <h2>MAX 7 PROPOSITIONS FOR THE FREE VERSION</h2>
              <p>Go premium for unlimited (coming soon) </p>
            <% end %>
            <!--   <div class="btn-burger flex-box">
              <%#= link_to "Continue", poll_path %>
            </div> -->
          </div>
        <div class="add-prop">
          <% @poll.propositions.reverse.each do |proposition|%>
            <div class="flex-box">
              <div class="name-box">
                <div class="created-name">
                  <h3><%= proposition.name %></h3>
                <!-- <div class='product-upvote'>
                  <div class="product-arrow"></div>
                  <div class='product-count'>95</div>
                </div> -->
                </div>
              </div>
              <div class="btn-delete flex-box">
                <%= link_to( poll_proposition_path(@poll, proposition), method: :delete) do %>
                  <i class="fa fa-times" aria-hidden="true"></i>
                <% end %>
              </div>
              <div class="btn-edit flex-box">
                <%= link_to edit_poll_proposition_path(@poll, proposition), remote: true, method: :get do %>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                <% end %>
              </div>
              <div class="photo-box">
                <% unless proposition.photo.nil?  %>
                  <div class="created-photo-right" style="background-image: url('<%= cl_image_path  proposition.photo.path %>')"></div>
                <% else %>
                  <div class="created-photo-right" style="background-color: <%=proposition.color%>"></div>
                <% end %>
              </div>
               <!--
                <ul class="list-inline product-controls">
                  <li><a href=""><i class="fa fa-heart"></i></a></li>
                  <li><a href=""><i class="fa fa-share"></i></a></li>
                  <li><a href=""><i class="fa fa-star"></i></a></li>
                </ul>
              -->
            </div>
          <% end %>
        </div>
      </div>
      <div class="btn-burger flex-box text-uppercase text-center" style="width: 150px;">
        <%= link_to "Continue", poll_path %><i class="fa fa-arrow-right" aria-hidden="true" style="margin-left: 10px;"></i>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  const add_photo_box = document.querySelector(".control-label")
  add_photo_box.addEventListener("click", (event) => {
    add_photo_box.style.display = "none";
    // const remove_button = add_photo_box.querySelector("a")
    // remove_button.addEventListener("click", (event) => {
    //   console.log("you did it!")
    //   add_photo_box.style.display = "block";
    // });
  });

</script>


