<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-new-poll">
       <div class="update-poll">
        <h1 >New Poll</h1>

        <%= render 'form_new_poll' %>
      </div>
      <div class="add-prop">
        <% @poll.propositions.each do |proposition|%>
        <div class="flex-box">
          <div class="name-box">
            <div class="created-name">
              <h3><%= proposition.name %></h3>
              <!-- <div class='product-upvote'>
                <div class="product-arrow"></div>
                <div class='product-count'>95</div>
              </div> -->

            </div>
          </div>
          <div class="btn-delete">

            <%= link_to( poll_proposition_path(@poll, proposition), method: :delete,
            data: { confirm: "Are you sure?" }) do %>
            <i class="fa fa-times" aria-hidden="true"></i>
              <% end %>

          </div>
          <div class="photo-box">

            <% unless proposition.photo.nil?  %>
            <div class="created-photo" style="background-image: url('<%= cl_image_path  proposition.photo.path %>')"></div>
            <% else %>
            <div class="created-photo" style="background-color: <%=proposition.color%>"></div>

            <% end %>
          </div>

             <!--
              <ul class="list-inline product-controls">
                <li><a href=""><i class="fa fa-heart"></i></a></li>
                <li><a href=""><i class="fa fa-share"></i></a></li>
                <li><a href=""><i class="fa fa-star"></i></a></li>
              </ul>
            -->
          </div>

          <% end %>
        </div>

        <div class="add-prop-2">
          <!-- <h1>Add Propositions</h1> -->
          <%= render "form_proposition" %>
          <div class="btn-burger flex-box">
            <%= link_to "Continue", poll_path %>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>


<script>
  const add_photo_box = document.querySelector(".control-label")
  add_photo_box.addEventListener("click", (event) => {
    add_photo_box.style.display = "none";
    // const remove_button = add_photo_box.querySelector("a")
    // remove_button.addEventListener("click", (event) => {
    //   console.log("you did it!")
    //   add_photo_box.style.display = "block";
    // });
  });

</script>

