<div class="site-content margin-fluid">

<div class="prop-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-4 col-md-4 col-md-offset-4">
      <h3 class="poll-prop-title center-text">WYR</h3>
      <% if @comparison == nil %>
      <% else %>
      <p class="center-text">Click on the option your prefer</p>
      <!-- Proposition 1-->
      <div class="no-link">
        <%= link_to(poll_votes_path(@poll, accepted: @comparison.first.id, rejected: @comparison.last.id), method: :post, class: "top") do %>
        <div class="proposition" data-vote=1 id="vote-1">
          <% if @comparison.first.photo.nil? %>
          <div class="no-prop" style="background-color:  <%= @comparison.first.color %>"></div>
          <% else %>
          <div class="prop-card">
            <%= cl_image_tag @comparison.first.photo.path, class: "prop-img" %>
          </div>
          <% end %>
          <div class="result-bar"></div>
          <div>
            <div class="prop-card-category">
              <h3><%= @comparison.first.name %></h3>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <%#= TEST - to delete later %>
      <p>first combinations %>first</p>
      <%= @test_array %>
      <p>remainings</p>
      <%= @test_array_4 %>
      <p>existing</p>
      <%= @test_array_2 %>
      <p>all combinations</p>
      <%= @test_array_all %>
      <%#= TEST %>


      <h3 class="center-text">or</h3>
      <!-- Proposition 2-->
      <div class="no-link">
        <%= link_to poll_votes_path(@poll, accepted: @comparison.last.id, rejected: @comparison.first.id), method: :post do %>
        <div class="proposition" data-vote=2 id="vote-2">
          <% if @comparison.last.photo.nil? %>
          <div class="no-prop" style="background-color:  <%= @comparison.last.color %>""></div>
          <% else %>
          <div class="prop-card">
            <%= cl_image_tag @comparison.last.photo.path, class: "prop-img" %>
          </div>
          <% end %>
          <div class="result-bar"></div>
          <div>
            <div class="prop-card-category">
              <h3><%= @comparison.last.name %></h3>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>

      <% if @remainings == [] %>
      <div class="banner">
        <%= link_to "results", results_poll_path(@poll), :class => "btn btn-medium" %>
      </div>
      <% end %>

    </div>
  </div>
</div>
</div>


<% if @comparison %>
<script>
  document.querySelectorAll(".proposition").forEach((button) => {
    button.addEventListener("click", (event) => {
      console.log(button.dataset.vote);
      let results = compute_result(<%= @comparison.first.score %>,<%= @comparison.last.score %>, button.dataset.vote);
      console.log(results)
      if (button.dataset.vote == 2) {
        results = results.reverse()
      }
      button.querySelector(".result-bar").style.width = (results[0]*100).toString() + "%";
      button.querySelector("h3").innerText = Math.round((results[0]*100).toString()) + "%" ;
      const otherButton = document.getElementById('vote-' + (button.dataset.vote == 1 ? "2" : "1") );
      console.log(otherButton)
      otherButton.querySelector('.result-bar').style.width = (results[1]*100).toString() + "%";
      otherButton.querySelector("h3").innerText = Math.round((results[1]*100)).toString() + "%" ;
    });
  });
  function compute_result(score_1, score_2, vote) {
    let percentage1 = 0;
    let percentage2 = 0;
    const total = score_1 + score_2 + 1;
    if (vote == 1) {
      percentage1 = (score_1 + 1) / total;
      percentage2 = score_2 / total;
    } else {
      percentage1 = score_1 / total;
      percentage2 = (score_2 + 1)  / total;
    };
    return [ percentage1, percentage2 ];
  };
  // console.log(compute_result(<%= @comparison.first.score %>,<%= @comparison.last.score %>, 1))
</script>
<% end %>
