<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h3 class="center-text">WYR</h3>
      <% if @comparison == nil %>
      <%= link_to "results", results_poll_path(@poll) %>
      <% else %>
      <p class="center-text">Click on the option your prefer</p>
      <!-- <%= @test_array %> -->
      <!-- <%= @test_array_2 %> -->
      <!-- Proposition 1-->
      <div class="no-link">
        <%= link_to(poll_votes_path(@poll, accepted: @comparison.first.id, rejected: @comparison.last.id), method: :post) do %>
        <div class="proposition">
          <% if @comparison.first.photo.nil? %>
          <% else %>
          <%= cl_image_tag @comparison.first.photo.path %>
          <% end %>
          <div>
            <h3><%= @comparison.first.name %></h3>
          </div>
          <% end %>
        </div>

        <h3 class="center-text">or</h3>
        <!-- Proposition 2-->
        <div class="no-link">
          <%= link_to(poll_votes_path(@poll, accepted: @comparison.last.id, rejected: @comparison.first.id), method: :post) do %>
          <div class="proposition">
            <% if @comparison.last.photo.nil? %>
            <% else %>
            <%= cl_image_tag @comparison.last.photo.path %>
            <% end %>
            <h3><%= @comparison.last.name %></h3>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
