<div class="container">
  <div class="row">
    <%= @propositions.each do |prop| %>
    <div class="col-xs-12 col-sm-6">
      <div class="card" style="background-image: url('<%= image_path propositions.photo, height: 300, width: 400, crop: :fill %>')">
    </div>
 <!-- <div class="col-xs-12 col-sm-6">
      insert <div class="card">
    </div> -->
    <% end %>
  </div>
</div>

<a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#search-by-title"><i class="fa fa-search" aria-hidden="true"></i></a>

<div class="modal fade" id="search-by-title" tabindex="-1" role="dialog" aria-labelledby="search-by-title" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Search by title</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for :global_search do |f| %>
        <%= f.input :query , placeholder:"title", label: false, collection: Invoice.uniq.pluck(:title), input_html: { id: 'invoice_search_input' } %>
        <%= f.submit "Search", class: "btn", id: 'invoice_search_fancy_button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


js

$ ->
  modal_holder_selector = '#modal-holder'
  modal_selector = '.modal'

  $(document).on 'click', 'a[data-modal]', ->
    location = $(this).attr('href')
    #Load modal dialog from server
    $.get location, (data)->
      $(modal_holder_selector).html(data).
      find(modal_selector).modal()
    false

  $(document).on 'ajax:success',
    'form[data-modal]', (event, data, status, xhr)->
      url = xhr.getResponseHeader('Location')
      if url
        # Redirect to url
        window.location = url
      else
        # Remove old modal backdrop
        $('.modal-backdrop').remove()

        # Replace old modal with new one
        $(modal_holder_selector).html(data).
        find(modal_selector).modal()

      false



<div ng-controller="QuestionController">
  <form accept-charset="UTF-8" action="/questions" class="new_question" id="new_question" method="post" name="newQuestionForm"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="hvDtuT8i+RHVYOF+IGRa+lOwzZz49C4Kiukgda5a6lM=" /></div>
    <div class="field">
      <input autocomplete="off" class="large" id="question_title" name="question[title]" ng_model="question" placeholder="Add your question here" type="text" />
    </div>

    <h3>Add your options below:</h3>

    <div class="field" ng-repeat="option in options track by $index">
      <input autocomplete="off" id="options__title" name="options[][title]" ng_blur="optionBlur($index, option)" ng_model="options[$index]" placeholder="Option {{$index+1}}" type="text" />
    </div>


    <small ng-hide="optionsShown">
      <a href="#" ng-click="optionsShown = true" >Options</a>
      <br>
    </small>


    <div id="options" ng-show="optionsShown">
      <hr>
      <input autocomplete="off" class="input--small" id="question_secret" maxlength="16" name="question[secret]" ng_model="secret" placeholder="Optional custom URL" type="text" unique_secret="{{ secret }}" value="" />
      <p ng-show="newQuestionForm.$invalid"><small>Sorry! This URL is taken.</small></p>
    </div>


    <br>

    <div class="actions">
      <input disabled="disabled" name="commit" ng_disabled="formDisabled()" type="submit" value="Start" />
    </div>

    <br><small class="subtle">or</small><br>
      <small>View an example <a href="/ukb2NQtysb6QUEw4HFF_NQ">Question</a> and <a href="/ukb2NQtysb6QUEw4HFF_NQ/results">Results</a></small>
</form></div>

    <br>



    input[type=text] {
    fz: lighter
  }

<!-- _______louise add_prop div_________ -->



         <div class="photo-box">
              <% unless proposition.photo.nil?  %>
              <div class="created-photo" style="background-image: url('<%= cl_image_path  proposition.photo.path %>')"></div>
              <% else %>
              <div class="created-photo" style="background-color: black"></div>
              <% end %>
              <%#= cl_image_tag proposition.photo.path %>
            </div>




<!-- ___________louise show_poll_page____________________ -->




<%= content_for(:navbar_class, "navbar-show") %>
<%= content_for(:navbar_link) do %>
  <a href="#participants" class="text-center">Participants</a>
<% end %>

<!-- <div class="container">
  <div class="link  hidden-md hidden-lg">
  <a href="#top" >Top</a>
  <a href="#participants">Participants</a>
  <a href="#else">Else</a>
</div> -->


<h1 class="text-center" ><%= @poll.title %></h1>
<h1 class="text-center" >Created by :<%= @poll.user.email%></h1>
<% if @poll.photo =! "" %>
            <div class="poll-photo" style="background-image: url('<%= image_path  poll.photo %>') "></div>
            <% else %>
            <div class="poll-photo" style="background-color: black"></div>
            <% end %>






      <div class="prop-2" id="else">
        <% @poll.propositions.each_with_index do |proposition, index|%>
          <div class="other-prop">
            <% if proposition.photo =! "" %>
            <div class="photo" style="background-image: url('<%= image_path  proposition.photo %>') "></div>
            <% else %>
            <div class="photo" style="background-color: black"><h1 class="text-center"><%= index += 1 %></h1></div>
            <% end %>
            <div class="text-show">
              <ul>
                <li><h1><%= index += 1 %>: <%= proposition.name %></h1></li>
                <li><p>Description: <%= proposition.description %></p></li>
              </ul>
            </div>
          </div>
            <!-- <div class="other-prop hidden-md hidden-lg">
              <div class="photo " style=" background-image: url('<%#= image_path  proposition.photo %>') "><h1><%#= proposition.name %></h1>
              </div>
            </div> -->
        <% end %>
      </div>


    <div class="participants" id="participants">
      <h1 class="text-center"><%= link_to 'Participants', poll_participants_path(@poll), class: "btn btn-medium" %></h1>
      <div class="participants-nbr">
        <h1><%= @poll.participants.count %></h1>
      </div>
      <% @poll.participants.each do |participant|%>
        <div class="other-prop">
          <div class="photo" style="background-image: url('<%= image_path  participant.user.profile.photo %>') "></div>
          <div class="text">
            <h1><%= participant.user.profile.name %> <br> <%= participant.user.profile.surname %></h1>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>




      <%= link_to 'Start Poll', compare_poll_path(@poll), :class => "btn btn-medium" %>

      <button type="button" class="btn btn-medium" data-toggle="modal" data-target="#share-modal">
        Share Poll!
      </button>

      <%= render "polls/share_poll" %>


    <!--     create_table "polls", force: :cascade do |t|
    t.string "title"
    t.text "description"
    t.string "photo"
    t.boolean "status"
    t.bigint "user_id"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.index ["user_id"], name: "index_polls_on_user_id"
  end -->

<!--   create_table "propositions", force: :cascade do |t|
    t.string "name"
    t.integer "score"
    t.string "photo"
    t.string "hashtag"
    t.text "description"
    t.bigint "poll_id"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.index ["poll_id"], name: "index_propositions_on_poll_id"
  end
 -->



  <%#= render "poll-start" %>

  <!-- if minimum 1 poll is finished ==> if end poll >= 1 / click btn end poll event listener-->

