<div class="container">
  <div class="row">
    <%= @propositions.each do |prop| %>
    <div class="col-xs-12 col-sm-6">
      <div class="card" style="background-image: url('<%= image_path propositions.photo, height: 300, width: 400, crop: :fill %>')">
    </div>
 <!-- <div class="col-xs-12 col-sm-6">
      insert <div class="card">
    </div> -->
    <% end %>
  </div>
</div>

<a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#search-by-title"><i class="fa fa-search" aria-hidden="true"></i></a>

<div class="modal fade" id="search-by-title" tabindex="-1" role="dialog" aria-labelledby="search-by-title" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Search by title</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for :global_search do |f| %>
        <%= f.input :query , placeholder:"title", label: false, collection: Invoice.uniq.pluck(:title), input_html: { id: 'invoice_search_input' } %>
        <%= f.submit "Search", class: "btn", id: 'invoice_search_fancy_button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


js

$ ->
  modal_holder_selector = '#modal-holder'
  modal_selector = '.modal'

  $(document).on 'click', 'a[data-modal]', ->
    location = $(this).attr('href')
    #Load modal dialog from server
    $.get location, (data)->
      $(modal_holder_selector).html(data).
      find(modal_selector).modal()
    false

  $(document).on 'ajax:success',
    'form[data-modal]', (event, data, status, xhr)->
      url = xhr.getResponseHeader('Location')
      if url
        # Redirect to url
        window.location = url
      else
        # Remove old modal backdrop
        $('.modal-backdrop').remove()

        # Replace old modal with new one
        $(modal_holder_selector).html(data).
        find(modal_selector).modal()

      false



<div ng-controller="QuestionController">
  <form accept-charset="UTF-8" action="/questions" class="new_question" id="new_question" method="post" name="newQuestionForm"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="hvDtuT8i+RHVYOF+IGRa+lOwzZz49C4Kiukgda5a6lM=" /></div>
    <div class="field">
      <input autocomplete="off" class="large" id="question_title" name="question[title]" ng_model="question" placeholder="Add your question here" type="text" />
    </div>

    <h3>Add your options below:</h3>

    <div class="field" ng-repeat="option in options track by $index">
      <input autocomplete="off" id="options__title" name="options[][title]" ng_blur="optionBlur($index, option)" ng_model="options[$index]" placeholder="Option {{$index+1}}" type="text" />
    </div>


    <small ng-hide="optionsShown">
      <a href="#" ng-click="optionsShown = true" >Options</a>
      <br>
    </small>


    <div id="options" ng-show="optionsShown">
      <hr>
      <input autocomplete="off" class="input--small" id="question_secret" maxlength="16" name="question[secret]" ng_model="secret" placeholder="Optional custom URL" type="text" unique_secret="{{ secret }}" value="" />
      <p ng-show="newQuestionForm.$invalid"><small>Sorry! This URL is taken.</small></p>
    </div>


    <br>

    <div class="actions">
      <input disabled="disabled" name="commit" ng_disabled="formDisabled()" type="submit" value="Start" />
    </div>

    <br><small class="subtle">or</small><br>
      <small>View an example <a href="/ukb2NQtysb6QUEw4HFF_NQ">Question</a> and <a href="/ukb2NQtysb6QUEw4HFF_NQ/results">Results</a></small>
</form></div>

    <br>



    input[type=text] {
    fz: lighter
  }

<!-- _______louise add_prop div_________ -->



         <div class="photo-box">
              <% unless proposition.photo.nil?  %>
              <div class="created-photo" style="background-image: url('<%= cl_image_path  proposition.photo.path %>')"></div>
              <% else %>
              <div class="created-photo" style="background-color: black"></div>
              <% end %>
              <%#= cl_image_tag proposition.photo.path %>
            </div>




<!-- ___________louise show_poll_page____________________ -->




<%= content_for(:navbar_class, "navbar-show") %>
<%= content_for(:navbar_link) do %>
  <a href="#participants" class="text-center">Participants</a>
<% end %>

<!-- <div class="container">
  <div class="link  hidden-md hidden-lg">
  <a href="#top" >Top</a>
  <a href="#participants">Participants</a>
  <a href="#else">Else</a>
</div> -->


<h1 class="text-center" ><%= @poll.title %></h1>
<h1 class="text-center" >Created by :<%= @poll.user.email%></h1>
<% if @poll.photo =! "" %>
            <div class="poll-photo" style="background-image: url('<%= image_path  poll.photo %>') "></div>
            <% else %>
            <div class="poll-photo" style="background-color: black"></div>
            <% end %>






      <div class="prop-2" id="else">
        <% @poll.propositions.each_with_index do |proposition, index|%>
          <div class="other-prop">
            <% if proposition.photo =! "" %>
            <div class="photo" style="background-image: url('<%= image_path  proposition.photo %>') "></div>
            <% else %>
            <div class="photo" style="background-color: black"><h1 class="text-center"><%= index += 1 %></h1></div>
            <% end %>
            <div class="text-show">
              <ul>
                <li><h1><%= index += 1 %>: <%= proposition.name %></h1></li>
                <li><p>Description: <%= proposition.description %></p></li>
              </ul>
            </div>
          </div>
            <!-- <div class="other-prop hidden-md hidden-lg">
              <div class="photo " style=" background-image: url('<%#= image_path  proposition.photo %>') "><h1><%#= proposition.name %></h1>
              </div>
            </div> -->
        <% end %>
      </div>


    <div class="participants" id="participants">
      <h1 class="text-center"><%= link_to 'Participants', poll_participants_path(@poll), class: "btn btn-medium" %></h1>
      <div class="participants-nbr">
        <h1><%= @poll.participants.count %></h1>
      </div>
      <% @poll.participants.each do |participant|%>
        <div class="other-prop">
          <div class="photo" style="background-image: url('<%= image_path  participant.user.profile.photo %>') "></div>
          <div class="text">
            <h1><%= participant.user.profile.name %> <br> <%= participant.user.profile.surname %></h1>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>




      <%= link_to 'Start Poll', compare_poll_path(@poll), :class => "btn btn-medium" %>

      <button type="button" class="btn btn-medium" data-toggle="modal" data-target="#share-modal">
        Share Poll!
      </button>

      <%= render "polls/share_poll" %>


    <!--     create_table "polls", force: :cascade do |t|
    t.string "title"
    t.text "description"
    t.string "photo"
    t.boolean "status"
    t.bigint "user_id"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.index ["user_id"], name: "index_polls_on_user_id"
  end -->

<!--   create_table "propositions", force: :cascade do |t|
    t.string "name"
    t.integer "score"
    t.string "photo"
    t.string "hashtag"
    t.text "description"
    t.bigint "poll_id"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.index ["poll_id"], name: "index_propositions_on_poll_id"
  end
 -->



  <%#= render "poll-start" %>

  <!-- if minimum 1 poll is finished ==> if end poll >= 1 / click btn end poll event listener-->

  <!-- _____ show page before copying Louise's show poll page sunday 19/11/17 _____ -->
  <%= content_for(:navbar_class, "navbar-show") %>
<%= content_for(:navbar_link) do %>
<a href="#participants" class="text-center">Participants</a>
<% end %>

<!-- <div class="container">
  <div class="link  hidden-md hidden-lg">
  <a href="#top" >Top</a>
  <a href="#participants">Participants</a>
  <a href="#else">Else</a>
</div> -->


<h1 class="text-center" ><%= @poll.title %></h1>
<h1 class="text-center" >Created by :<%= @poll.user.email%></h1>
<% if @poll.photo =! "" %>
<div class="poll-photo" style="background-image: url('<%= image_path  poll.photo %>') "></div>
<% else %>
<div class="poll-photo" style="background-color: black"></div>
<% end %>


<div class="prop-2" id="else">
  <% @poll.propositions.each_with_index do |proposition, index|%>
  <div class="other-prop">
    <% if proposition.poll.photo.nil? %>
    <div class="photo">
      <%= cl_image_tag proposition.poll.photo.path %>
    </div>
    <% else %>
    <div class="photo" style="background-color: black"><h1 class="text-center"><%= index += 1 %></h1></div>
    <% end %>
    <div class="text-show">
      <ul>
        <li><h1><%= index += 1 %>: <%= proposition.name %></h1></li>
        <li><p>Description: <%= proposition.description %></p></li>
      </ul>
    </div>
  </div>
            <!-- <div class="other-prop hidden-md hidden-lg">
              <div class="photo " style=" background-image: url('<%#= image_path  proposition.photo %>') "><h1><%#= proposition.name %></h1>
              </div>
            </div> -->
            <% end %>
          </div>


          <div class="participants" id="participants">
            <h1 class="text-center"><%= link_to 'Participants', poll_participants_path(@poll), class: "btn btn-medium" %></h1>
            <div class="participants-nbr">
              <h1><%= @poll.participants.count %></h1>
            </div>
            <% @poll.participants.each do |participant|%>
            <div class="other-prop">
              <div class="photo" style="background-image: url('<%= image_path  participant.user.profile.photo %>') "></div>
              <div class="text">
                <h1><%= participant.user.profile.name %> <br> <%= participant.user.profile.surname %></h1>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>




      <%= link_to 'Start Poll', compare_poll_path(@poll), :class => "btn btn-medium" %>

      <button type="button" class="btn btn-medium" data-toggle="modal" data-target="#share-modal">
        Share Poll!
      </button>

      <%= render "polls/share_poll" %>


    <!--     create_table "polls", force: :cascade do |t|
    t.string "title"
    t.text "description"
    t.string "photo"
    t.boolean "status"
    t.bigint "user_id"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.index ["user_id"], name: "index_polls_on_user_id"
    end -->

<!--   create_table "propositions", force: :cascade do |t|
    t.string "name"
    t.integer "score"
    t.string "photo"
    t.string "hashtag"
    t.text "description"
    t.bigint "poll_id"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.index ["poll_id"], name: "index_propositions_on_poll_id"
  end
-->



<%#= render "poll-start" %>

<!-- if minimum 1 poll is finished ==> if end poll >= 1 / click btn end poll event listener-->


<!-- ________________________ sasha/louise results page _________________________ -->


<div class="container">
  <div class="link  hidden-md hidden-lg">
  <a href="#top">Top</a>
  <a href="#participants">Participants</a>
  <a href="#else">Else</a>
</div>
  <div class="grid ">
    <div class="main">
      <div class="prop-1" id="top">
        <% if @propositions.first.photo =! "" %>
        <div class="best-prop" style=" background-image: url('<%=@propositions.first.photo  %>')"></div>
        <% else %>
        <div class="best-prop" style="background-color:  <%= @propositions.first.color %>"><h1 class="text-center"><%= @propositions.first.name %></h1></div>
        <% end %>
        <div class="text">
          <ul>
            <li><p>Description:   <%= @propositions.first.description %></p></li>
            <li><h3>Score: <%= @propositions.first.score %></h3></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="stat">
      <div class="prop-2" id="else">
        <% @propositions[1..-1].each_with_index do |proposition, index|%>
          <div class="other-prop">
            <% if proposition.photo =! "" %>
            <div class="photo" style="background-image: url('<%=proposition.photo %>') "></div>
            <% else %>
            <div class="photo" style="background-color:  <%= proposition.color %>"><p class="text-center"><%= @propositions[index+1].name %></p></div>
            <% end %>
            <div class="text">
              <ul>
                <li><p>Description: <%= proposition.description %></p></li>
                <li><h3>Score: <%= proposition.score %></h3></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="participants" id="participants">
      <h1 class="text-center"><%= link_to 'Participants', poll_participants_path(@poll), class: "btn btn-medium" %></h1>
      <div class="participants-nbr">
        <h1><%= @poll.participants.count %></h1>
      </div>
      <% @poll.participants.each do |participant|%>
        <div class="other-prop">
          <div class="photo" style="background-image: url('<%= image_path  participant.user.profile.photo %>') "></div>
          <div class="text">
            <h1><%= participant.user.profile.name %> <br> <%= participant.user.profile.surname %></h1>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- _______ test copy link input and button (with clipboard gem) below ______ -->


<!-- Target -->
<textarea id="bar">Mussum ipsum cacilds...</textarea>

<!-- Trigger -->
<button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#bar">
    Copy to clipboard
</button>

<script>
$(document).ready(function(){

  var clipboard = new Clipboard('.clipboard-btn');
  console.log(clipboard);

});
</script>


<!-- _________ FB SHARE from Pablo below ____________ -->
<a class="fa fa-twitter twitter-share-button margin-overall"
      href="https://twitter.com/intent/tweet?text=Hey%20I%20just%20read%20this%20chapter&url=http%3A%2F%2Fchapter-klyp.herokuapp.com%2Fbooks%2F<%= @episode.book.id %>%2Fepisodes%2F<%= @episode.id %>"
      data-size="large"></a>
      <div class="fb-share-button" data-href="http://chapter-klyp.herokuapp.com/books/12/episodes/47" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fa fa-facebook fb-xfbml-parse-ignore  margin-overall" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fchapter-klyp.herokuapp.com%2Fbooks%2F<%= @episode.book.id %>%2Fepisodes%2F<%= @episode.id %> &amp;src=sdkpreparse"></a></div></div>
     <div id="fb-root"></div>

     (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_PI/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));


<!-- ___________ text field copy paste (opt 2) __________ -->

<textarea id="bar">Mussum ipsum cacilds...</textarea>
<button class="btn btn-default" data-clipboard-action='copy' data-clipboard-target="#bar">Copy to Clipboard</button>


<% content_for(:third_party_js) do %>
  <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.10/dist/clipboard.min.js"></script>
<% end %>
<script>
    var clipboard = new Clipboard('.btn');
</script>

 <%= yield :third_party_js %>







<!-- _________________ close button for modal ______________ -->
       <!--  <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->

<!-- ---------------------FB SHARE LIKE TEST ------------------------- -->
                <!-- <div
                class="fb-like"
                data-share="true"
                data-width="450"
                data-show-faces="true">
              </div>
              <li class="share-style">
              <div id="shareBtn" class="btn btn-success clearfix">Share</div>
              <i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span>
            </li> -->
   <!--  <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1156307394501135',
          xfbml      : true,
          version    : 'v2.11'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
   </script>

   <script>
    document.getElementById('shareBtn').onclick = function() {
      FB.ui({
        method: 'share',
        display: 'popup',
        href: 'https://developers.facebook.com/docs/',
      }, function(response){});
    }
  </script> -->

  <script>
document.getElementById('fb-share-button').onclick = function() {
  FB.ui({
    method: 'share',
    display: 'popup',
    href: 'https://developers.facebook.com/docs/',
  }, function(response){});
}
</script>

<!-- ----------------- SECONDARY FB SHARE LIKE TEST ---------------- -->

  <%#link_to 'Share on Facebook', "https://www.facebook.com/dialog/share?
  app_id=xxxxxxxxxxxxxx&href=#{request.original_url}&redirect_uri=#{request.original_url}" %>

<!-- ----------------- TEST LIST FOR SHARE MODAL ---------------- -->

<!-- <ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
-->


<!-- ___ Louise Results Page, updated 21/11/17, but still needs fix __ -->

<div class="site-content ">
  <div class="container">

    <div class="first-result background-blanco margin-top-results">
      <div class="row">
        <div class="col-xs-12 ">

          <div class="btn-location borde-b flex-box">
            <h3 class="text-center bold text-uppercase">first Propre name <!-- upercase --></h3>
          </div>
          <div class="burger-menu-result">
            <div class="row">
              <div class="col-xs-5">

                <div class="btn-burger">
                  <span class="text-uppercase">Closed</span>

                </div>
              </div>
              <div class="col-xs-7 background-blanco ">
                <p>Lorem ipsum  nsptatibus!</p>
              </div>
            </div>
            <div class="img-first-result">
              <div class="row">
                <div class="col-xs-12">

                  <div class="box-img-result background-gif flex-box">
                    <% if @propositions.first.photo.nil? %>
                    <div class="best-prop" style="background-color:  <%= <@UNVERIFIED|@poll>.propositions.first.color %>">
                      <h1 class="text-center"><%= <@UNVERIFIED|@poll>.propositions.first.name %></h1>
                    </div>
                    <% else %>
                    <div class="best-prop">
                      <%= cl_image_tag @propositions.first.photo.path %>
                    </div>
                    <% end %>
                  </div>


                  <div class="row">
                    <div class="col-xs-12">
                      <div class="text">
                        <h3>Score: <%= @propositions.first.score %></h3></li>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <% @propositions[1..-1].each_with_index do |proposition, index|%>
   <!--  <div class="other-results background-blanco"> -->
      <div class="row other-results background-blanco">
        <div class="col-xs-12 ">
          <div class="title-prop">
            <div class="row">
              <div class="col-xs-12">
                <div class="btn-location borde-b flex-box">
                  <h3 class="text-center bold text-uppercase"><%= proposition.name %></h3>
                </div>
              </div>
            </div>
          </div>

          <div class="burger-menu-result">
            <div class="row">
              <div class="col-xs-5">
                <div class="btn-burger">
                  <span class="text-uppercase">Closed</span>
                </div>
              </div>
              <div class="col-xs-7background-blanco ">
                <p>Lorem ipsum  nsptatibus!</p>
              </div>
            </div>
          </div>

          <div class="img-first-result">
            <div class="row">
              <div class="col-xs-12">
                <div class="box-img-result background-gif flex-box">
                  <% if proposition.photo.nil? %>
                  <div class="best-prop" style="background-color:  <%= proposition.color %>">
                  </div>
                  <% else %>
                  <div class="best-prop">
                   <%= cl_image_tag proposition.photo.path %>
                 </div>
                 <% end %>
               </div>
             </div>
           </div>
         </div>

         <div class="score-box">
          <div class="row">
            <div class="col-xs-12">
              <div class="text">
                <h3>Score: <%= proposition.score %></h3></li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--  </div> -->
  <% end %>



   </div>
</div>

<!-- __________________ polls index ______________________ -->

<div class="photo" style="background-image: url('<%= image_path  proposition.photo %>') "></div>

        <%= image_tag "Bear.jpg", :class => "poll-image" %>
        <%= image_tag poll.photo, :class => "poll-image" %>

<!-- button "View Poll" -->
        <!-- <div class="poll-controls hidden-sm hidden-xs">
         <%=#link_to "View Poll", poll_path(poll), :class => "btn btn-default" %>
        </div> -->


:width => 800, :crop => :fill)


<!-- _________________ Original Polls Index / product list layout ________ -->

<div class="container">
  <h1 class="text-center">All Polls</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
      <% @polls.each do |poll| %>
      <%= link_to poll_path(poll) do %>
      <div class="poll-main bg borde-around-poll">
        <% if poll.photo.nil? %>
        <div class="poll-media" style="background-image: url('<%= image_path "Bear.jpg" %>') ">
          <% else %>
        <div class="poll-media" style="background-image: url('<%= image_path poll.photo %>') ">
          <% end %>
          <div class="poll-title"><%= poll.title %></div>
        </div>
        <div class="poll-description">
          <p>Created by:<%= poll.user.email %></p>
          <p><%= poll.description %></p>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- ____________ Original FB share-open-graph meta_tags ______________ -->

<meta property="og:url"           content="https://www.noodlepoll.io" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="NoodlePoll" />
  <meta property="og:description"   content="Easy decision making, oodles of fun" />
  <meta property="og:image"         content="https://www.noodlepoll.io/assets/Boolrank-white-8abacd9d3c842aa74f3740a880c668f9852ff6030f5c4346f3d957c2a4311159.png" />

  <!-- default content for for each view - i.e. app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@offer.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @offer.description %>
<% content_for :meta_image, cloudinary_url(@offer.photo.path) %>

<!-- ___________ attempted gradient on cl image on compare pg___________ -->

<div class="prop-card" style="height: 100%; width: 100%">
            <%= cl_image_tag @comparison.first.photo.path, :crop => :fill, :width => 800, :height => 800, :transformation => [
              {:effect => "gradient_fade"}
             ], class: "prop-img"%>
          </div>

<!-- ____________ top of buttons_fixed.html.erb _____________ -->

<div class="container">
  <div class="btn-blue-logo">
    <%= link_to root_path, class: "btn-blue-logo" do %>
    <span class="btn-square">
      <span class="btn__inner">

        <%= image_tag "noodlepoll-small.png" %>
        <%#= image_tag "boolrank-logo.png" %>
        <%#= image_tag "Boolrank.png" %>
      </span>
    </span>
    <% end %>
  </div>


