<div class="container">
  <h1 class="text-center">All Polls</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
      <% @polls.each do |poll| %>
      <%= link_to poll_path(poll) do %>
      <div class="poll-main bg borde-around-poll">
        <% if poll.photo.nil? %>
        <div class="poll-media" style="background-image: url('<%= image_path "Bear.jpg" %>') ">
          <% else %>
        <div class="poll-media" style="background-image: url('<%= image_path poll.photo %>') ">
          <% end %>
          <div class="poll-title"><%= poll.title %></div>
        </div>
        <div class="poll-description">
          <p>Created by:<%= poll.user.email %></p>
          <p><%= poll.description %></p>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>








