<div class="navbar-box">
  <div class="borte-t">
    <%= link_to '< Back', :back%>
  </div>
</div>

<div class="site-content flex-box">
  <div class="container-profile flex-box-column" style="margin-top: 0px ; border: 2px solid black;">
    <div class="btn-location-green prop-title">
      <h3 class="bold text-uppercase text-center">
        All polls
      </h3>
    </div>
    <% @polls.each do |poll| %>
      <% if poll.public_poll %>
        <%= link_to poll_path(poll) do %>
          <div class="flex-box">
            <div class="index-prop-box">
              <div class="index-photo-box">
                <% if poll.photo.nil? %>
                  <div class="index-created-photo" style="background-image: url('<%= image_path "Bear.jpg" %>') "></div>
                <% else %>
                  <div class="index-created-photo" style="background-image: url('<%= image_path poll.photo %>') "></div>
                <% end %>
              </div>
            </div>
            <div class="index-name-box">
              <div class="index-created-name">
              <!-- <p>Created by:<%= poll.user.email %></p> -->
                <p><%= poll.title %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>







