
<div class="container">
  <div class="link  hidden-md hidden-lg">
  <a href="#top">Top</a>
  <a href="#participants">Participants</a>
  <a href="#else">Else</a>
</div>
  <div class="grid ">
    <div class="main">
      <div class="prop-1" id="top">
        <h1 >      <%= @propositions.first.name %></h1>
        <% if @propositions.first.photo =! "" %>
        <div class="best-prop" style=" background-image: url('<%= image_path  @propositions.first.photo  %>')"></div>
        <% else %>
        <div class="best-prop" style="background-color: black"><h1 class="text-center">1</h1></div>
        <% end %>
        <div class="text">
          <ul>
            <li><p>Description:   <%= @propositions.first.description %></p></li>
            <li><h3>Score: <%= @propositions.first.score %></h3></li>
          </ul>
        </div>
      </div>
    </div>



    <div class="stat">
      <div class="prop-2" id="else">
        <% @propositions[1..-1].each_with_index do |proposition, index|%>
          <div class="other-prop">
            <% if proposition.photo =! "" %>
            <div class="photo" style="background-image: url('<%= image_path  proposition.photo %>') "></div>
            <% else %>
            <div class="photo" style="background-color: black"><h1 class="text-center"><%= index += 2 %></h1></div>
            <% end %>
            <div class="text">
              <ul>
                <li><h1><%= index += 2 %>: <%= proposition.name %></h1></li>
                <li><p>Description: <%= proposition.description %></p></li>
                <li><h3>Score: <%= proposition.score %></h3></li>
              </ul>
            </div>
          </div>
            <!-- <div class="other-prop hidden-md hidden-lg">
              <div class="photo " style=" background-image: url('<%#= image_path  proposition.photo %>') "><h1><%#= proposition.name %></h1>
              </div>
            </div> -->
        <% end %>
      </div>
    </div>

    <div class="participants" id="participants">
      <h1 class="text-center"><%= link_to 'Participants', poll_participants_path(@poll), class: "btn btn-medium" %></h1>
      <div class="participants-nbr">
        <h1><%= @poll.participants.count %></h1>
      </div>
      <% @poll.participants.each do |participant|%>
        <div class="other-prop">
          <div class="photo" style="background-image: url('<%= image_path  participant.user.profile.photo %>') "></div>
          <div class="text">
            <h1><%= participant.user.profile.name %> <br> <%= participant.user.profile.surname %></h1>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



<!--
<div class="container">

  <div class="grid ">
    <div class="main">
      <h1  class="text1 text-center">      <%#= @propositions.first.name %></h1>
       <div class="best-prop" style="height: 588px; background-image: url('<%#= image_path  @propositions.first.photo  %>')">
      </div>



    </div>


    <div class="stat">

      <%# @propositions[1..-1].each_with_index do |proposition, index|%>
      <div class="other-prop hidden-xs hidden-sm">
        <div class="photo " style="background-image: url('<%#= image_path  proposition.photo %>') "></div>
        <div class="text">
          <ul>
            <li><h1><%#= index += 2 %>:              <%#= proposition.name %></h1></li>
            <li><p>Description: <%#= proposition.description %></p></li>
            <li><h3>Score: <%#= proposition.score %></h3></li>
          </ul> </div>

        </div>

        <div class="other-prop hidden-md hidden-lg">
          <div class="photo " style=" background-image: url('<%#= image_path  proposition.photo %>') "><h1><%#= proposition.name %></h1>
          </div>
        </div>
        <%# end %>

      </div>


      <div class="participants">
        <h1><%#= link_to 'Participants', poll_participants_path(@poll) %></h1>
        <div class="participants-nbr"><h1><%= @poll.participants.count %></h1>
          <%# @poll.participants.each do |participant|%>
          <div class="other-prop hidden-xs hidden-sm">
          <div class="photo" style="background-image: url('<%#= image_path  participant.user.profile.photo %>') "></div>

             <div class="text">
              <h1><%#= participant.user.profile.name %> <br> <%#= participant.user.profile.surname %></h1></li>
               </div>
                </div>

                 <div class="other-prop hidden-md hidden-lg">
           <div class="photo" style="background-image: url('<%#= image_path  participant.user.profile.photo %>') "><h1><%#= participant.user.profile.name %> <br> <%#= participant.user.profile.surname %></h1>
          </div>
        </div>


            <%# end %>
          </div>
        </div>
      </div>
    </div> -->




