<%= content_for(:navbar_class, "navbar-show") %>
<%#= content_for(:navbar_link) do %>
<!-- <a href="#participants" class="text-center">Participants</a> -->
<%# end %>
<div class="btn-green-participants">
  <span class="btn-square">
    <span class="btn__inner"><i class="fa fa-users" aria-hidden="true"></i></span>
  </span>
</div>

<div class="btn-red-propositions">
  <span class="btn-square">
    <span class="btn__inner"><i class="fa fa-linode" aria-hidden="true"></i></span>
  </span>
</div>

<div class="btn-pink-share">
  <span class="btn-square">
    <span class="btn__inner"><i class="fa fa-share" aria-hidden="true"></i></span>
  </span>
</div>

<div class="site-content ">
  <div class="container flex-box">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="info-poll ">
          <div class="modulo-nav parent-center">
            <div class="child-center padding-module">
              <div class="pull-left">
                <%= link_to '< Back', add_propositions_poll_path(@poll)%>
              </div>
              <div class="pull-right">
                <%= link_to 'home / ', root_path%>
              </div>
            </div>
          </div>

          <h1 class="entry-title text-center bold text-uppercase" ><%= @poll.title %></h1>
          <button type="button" class="btn btn-default btn-medium" data-toggle="modal" data-target="#share-res">Share Results</button>
          <div class="info-details borde-t">
            <div class="row">
              <div class="col-xs-12">
                <div class="profile-details borde-b borde-fino">

                  <div class="row">
                    <div class="col-xs-4 borde-r borde-fino">
                      <div class="text-center borde-b ">
                        <h2 class="bold title margin-tb text-uppercase">
                          USER NAME<%#= @poll.user.email%>
                        </h2>
                      </div>
                      <!-- background-gif -->
                      <div class="background-gif">
                        <div class="text-center">
                          <div class="profile-avatar borde-b borde-l">
                            <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
                            <%= image_tag avatar_url, class: "avatar-square-lg margin-tb"%>
                          </div>
                        </div>
                      </div>
                    </div>



                    <div class="col-xs-4">
                      <div class="profile-description">
                        Ì<%= link_to 'All polls', add_propositions_poll_path(@poll), class: "btn btn-default btn-medium"%>

                        <!-- The open close checkbox -->
                        <div class="checkbox-update-poll">
                          <input class="hidden" type="checkbox" name="closed" id="closed" value=<%=@poll.id%> data-remote="true" data-url="/polls/<%= @poll.id %>/toggle_closed" data-method="PATCH" checked="checked">
                          <label id="toggle-button" class="<%= "active-checkbox" unless @poll.closed %> checkbox-on btn btn-default btn-medium" for="closed">
                          <% if @poll.closed %>
                          <%= "Closed" %>
                          <% else %>
                          <%= "Open" %>
                          <i class='fa fa-check'></i>
                          <% end %>
                          </label>
                        </div>
                        <!-- The open close checkbox -->
                        <div class="checkbox-update-poll">
                          <input class="hidden" type="checkbox" name="public_poll" id="public_poll" value=<%=@poll.id%> data-remote="true" data-url="/polls/<%= @poll.id %>/toggle_public_poll" data-method="PATCH" checked="checked">
                          <label id="toggle-button-public" class="<%= "active-checkbox" if @poll.public_poll %> checkbox-on btn btn-default btn-medium" for="public_poll">
                          <% if @poll.public_poll %>
                          <%= "Public" %>
                          <i class='fa fa-check'></i>
                          <% else %>
                          <%= "Private" %>
                          <% end %>
                          </label>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!--   <div class="row">
              <div class="col-xs-12">
                <div class="description margin-tb">
                  "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium nulla vitae commodi maiores voluptatum sed aut magni aliquam molestias ex, eligendi, labore, quasi adipisci magnam eveniet beatae sunt possimus numquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae dicta impedit nesciunt, dolorum dolorem voluptas facere eaque ipsa iste ducimus, quia accusamus vel sequi laudantium, doloremque nam, aut sit."
                </div>
              </div>
            </div> -->
          </div>

          <div class="poll-proposition margin-top-results margin-b-small">
            <div class="row">
              <div class=" col-xs-12">
               <div class="text-center borde-b ">
                <h2 class="bold text-uppercase">
                  All proposition<%#= @poll.user.email%>
                </h2>
              </div>
              <div class="show-prop background-gif">
                 <!-- <div class="btn-location borde-b borde-t flex-box">
                  <h3 class="text-center bold text-uppercase">all Propositions upercase </h3>
                </div> -->

                <% @poll.propositions.each do |proposition|%>
                <div class="row">
                  <div class="col-xs-12 margin-b-small">
                    <div class="flex-box">
                      <div class="name-box">
                        <div class="created-name">
                          <h3><%= proposition.name %></h3>
                        </div>
                      </div>
                      <div class="photo-box">
                        <% unless proposition.photo.nil?  %>
                        <div class="created-photo" style="background-image: url('<%= cl_image_path  proposition.photo.path %>')">

                        </div>
                        <% else %>
                        <div class="created-photo" style="background-color: <%=proposition.color%>">
                        </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-default btn-medium" data-toggle="modal" data-target="#share-modal">
          Share Poll!
        </button>
        <%= link_to 'continu', compare_poll_path(@poll), class: "btn btn-default btn-medium "%>
      </div>
    </div>
  </div>
</div>
</div>



<!-- ____________ renders for modals ____________ -->
<%= render "polls/share_poll" %>
<%= render "polls/share_results" %>

<!-- ____________ js for the checkboxes ____________ -->

<script>
  const button = document.getElementById("toggle-button");
  button.addEventListener("click", (event) => {
    button.classList.toggle("active-checkbox");
    console.log(button.innerHTML);
    let value = (button.innerHTML.trim() == "Closed"  ? "Open <i class='fa fa-check'></i>" : "Closed")
    button.innerHTML = value
  });
  const button_public = document.getElementById("toggle-button-public");
  button_public.addEventListener("click", (event) => {
    button_public.classList.toggle("active-checkbox");
    console.log(button_public.innerHTML);
    let value = (button_public.innerHTML.trim() == "Private"  ? "Public <i class='fa fa-check'></i>" : "Private")
    button_public.innerHTML = value
  });
</script>



