<%= content_for(:navbar_class, "navbar-show") %>
<%#= content_for(:navbar_link) do %>
<!-- <a href="#participants" class="text-center">Participants</a> -->
<%# end %>
<a href="#participants">
  <div class="btn-green-participants">
    <span class="btn-square">
      <span class="btn__inner"><i class="fa fa-users" aria-hidden="true"></i></span>
    </span>
  </div>
</a>

<a href="#propositions">
  <div class="btn-red-propositions">
    <span class="btn-square">
      <span class="btn__inner"><i class="fa fa-linode" aria-hidden="true"></i></span>
    </span>
  </div>
</a>


<a href="#share">
  <div class="btn-pink-share" data-toggle="modal" data-target="#share-modal">
    <span class="btn-square">
      <span class="btn__inner"><i class="fa fa-share" aria-hidden="true"></i></span>
    </span>
  </div>
</a>


<div class="site-content flex-box">
  <div class="container-profile flex-box-column ">


    <div class="top-back">
     <%= link_to '< Back', :back%>
    </div>

    <button type="button" class="btn-burger flex-box text-uppercase text-center" data-toggle="modal" data-target="#share-modal"><h1 style="color: white; font-weight: bold">share</h1> <i class="fa fa-share" aria-hidden="true" style= "margin-left: 10px"></i>
    </button>

    <div class="poll-wrapper" >
      <div class="poll-header text-center" style="height: 15vh">
        <h1 class="bold text-center text-uppercase" style="margin-top: 4vh"><%= @poll.title %></h1>
      </div>
      <hr>
      <div class="poll-profile ">
        <div class="poll-profile-left margin-20 ">
          <div>
            <h3 class="text-center margin-b-small text-uppercase bold">
              <%= "Logged in as:" %>
              <% if current_user.first_name.nil? %>
              <%= "Anonymous" %>
              <% else%>
              <%= current_user.first_name%>
              <% end %>
            </h3>
            <!--  <hr> -->
          </div>
          <div class="profile-avatar " >
            <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
            <%= image_tag avatar_url, class: "avatar-square-lg"%>
          </div>
        </div>
        <div class="poll-profile-right margin-20">
          <div>
            <%= link_to 'All polls', polls_path, class: "btn btn-default btn-medium"%>
          </div>
          <div>
            <% if @poll.user == current_user %>
            <!-- The open close checkbox -->
            <div class="checkbox-update-poll">
              <input class="hidden" type="checkbox" name="closed" id="closed" value=<%=@poll.id%> data-remote="true" data-url="/polls/<%= @poll.id %>/toggle_closed" data-method="PATCH" checked="checked">
              <label id="toggle-button" class="<%= "active-checkbox" unless @poll.closed %> checkbox-on btn btn-default btn-medium" for="closed">
                <% if @poll.closed %>
                <%= "Closed" %>
                <% else %>
                <%= "Open" %>
                <i class='fa fa-check'></i>
                <% end %>
              </label>
            </div>
            <!-- The open close checkbox -->
            <div class="checkbox-update-poll">
              <input class="hidden" type="checkbox" name="public_poll" id="public_poll" value=<%=@poll.id%> data-remote="true" data-url="/polls/<%= @poll.id %>/toggle_public_poll" data-method="PATCH" checked="checked">
              <label id="toggle-button-public" class="<%= "active-checkbox" if @poll.public_poll %> checkbox-on btn btn-default btn-medium" for="public_poll">
                <% if @poll.public_poll %>
                <%= "Public" %>
                <i class='fa fa-check'></i>
                <% else %>
                <%= "Private" %>
                <% end %>
              </label>
            </div>
            <% else %>
            <div class="checkbox-update-poll no-cursor">
              <label class="<%= "active-checkbox" unless @poll.closed %> no-cursor btn btn-default btn-medium">
                <% if @poll.closed %>
                <%= "Closed" %>
                <% else %>
                <%= "Open" %>
                <i class='fa fa-check'></i>
                <% end %>
              </label>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>



    <% if @total_score >= (@poll.propositions.length)*0.5%>
    <div class="poll-share-button-bottom">
      <%= link_to 'Results', results_poll_path(@poll), class: "btn btn-default btn-medium "%>
    </div>
    <button type="button" class="btn btn-default btn-medium" data-toggle="modal" data-target="#share-res">Share Results</button>
    <% end %>
<!-- <div class="poll-footer">
  <div></div>
</div> -->



    <div class="btn-burger flex-box text-uppercase">
      <%= link_to "Start Voting", start_poll_path(@poll) %>
    </div>

    <div class="prop-container background-gif  margin-top margin-b" id="propositions">
      <div class="btn-location-blue prop-title">
        <h3 class="bold text-uppercase text-center">
          All Options
        </h3>
      </div>
      <% @poll.propositions.each do |proposition| %>
      <div class="row">
        <div class="col-xs-12">
          <div class="prop-box">
            <div class="photo-box">
              <% unless proposition.photo.nil?  %>
              <div class="created-photo" style="background-image: url('<%= cl_image_path  proposition.photo.path %>')">
              </div>
              <% else %>
              <div class="created-photo" style="background-color: <%=proposition.color%>">
              </div>
              <% end %>
            </div>
            <div class="name-box">
              <div class="created-name">
                <h3><%= proposition.name %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="prop-container background-gif margin-b" id="participants">
      <div class="btn-location-green prop-title">
        <h3 class="bold text-uppercase text-center">
          Participants
        </h3>
      </div>
      <button type="button" class="btn btn-default btn-medium" id="participant" style="font-size: 15px;"> <i class="fa fa-users" aria-hidden="true" style="color: white; margin-right: 10px"></i><%= @poll.participants.count %>
      </button>
      <% @poll.participants.each do |participant| %>
      <div class="row">
        <div class="col-xs-12">
          <div class="prop-box">
            <div class="photo-box">
              <% if participant.user.profile.photo.nil? %>
                <% avatar_url = participant.user.facebook_picture_url || "http://www.abc.net.au/news/image/8314104-1x1-940x940.jpg" %>
              <% else %>
                  <% avatar_url = participant.user.photo || "http://www.abc.net.au/news/image/8314104-1x1-940x940.jpg" %>
              <div class="created-part-photo" style="background-color: <%=proposition.color%>"></div>
              <% end %>
            </div>
            <div class="name-box">
              <div class="created-part-name">
                <% unless participant.user.first_name.nil? %>
                  <h3><%= participant.user.first_name %></h3>
                <% else %>
                  <h3><%= "Anonymous" %></h3>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>





<!-- ____________ renders for modals ____________ -->
<%= render "polls/share_poll" %>
<%= render "polls/share_results" %>

<!-- ____________ content for fb meta tags ____________ -->
<% content_for :meta_title, "#{@poll.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @poll.description %>
<% content_for :meta_image, image_path(@poll.photo) %>

<!-- ____________ js for the checkboxes ____________ -->

<script>
  const button = document.getElementById("toggle-button");
  button.addEventListener("click", (event) => {
    button.classList.toggle("active-checkbox");
    console.log(button.innerHTML);
    let value = (button.innerHTML.trim() == "Closed"  ? "Open <i class='fa fa-check'></i>" : "Closed")
    button.innerHTML = value
  });
  const button_public = document.getElementById("toggle-button-public");
  button_public.addEventListener("click", (event) => {
    button_public.classList.toggle("active-checkbox");
    console.log(button_public.innerHTML);
    let value = (button_public.innerHTML.trim() == "Private"  ? "Public <i class='fa fa-check'></i>" : "Private")
    button_public.innerHTML = value
  });
</script>



