<%= content_for(:navbar_class, "navbar-show") %>
<%#= content_for(:navbar_link) do %>
<!-- <a href="#participants" class="text-center">Participants</a> -->
<%# end %>

<!-- <div class="container">
  <div class="link  hidden-md hidden-lg">
  <a href="#top" >Top</a>
  <a href="#participants">Participants</a>
  <a href="#else">Else</a>
</div> -->
<div class="site-content margin-fluid">
  <div class="container-fluid">
    <div class="info-poll">
      <div class="modulo-nav parent-center">
        <div class="child-center padding-module">
          <div class="pull-left">
            <%= link_to '< Back', add_propositions_poll_path(@poll)%>
          </div>
          <div class="pull-right">
            <%= link_to 'home / ', root_path%>
          </div>
        </div>
      </div>
      <h1 class="entry-title text-center bold" ><%= @poll.title %></h1>
      <div class="info-details borde-t">
        <div class="profile-details borde-b borde-fino">
          <div class="row">
            <div class="col-xs-4 borde-r borde-fino">
              <div class="text-center borde-b ">
                <h2 class="bold title margin-tb">
                  Created by :<%#= @poll.user.email%>
                </h2>
              </div>

                <!-- background-gif -->
                <div class="background-gif">
                  <div class="text-center">
                  <div class="profile-avatar borde-b ">
                    <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
                    <%= image_tag avatar_url, class: "avatar-square-lg margin-tb"%>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="profile-description">
                <p class="text">Lorem  ipsum  dignissimos odio con ipsum  dignissimos odio con ipsum  dignissimos odio con ipsum  dignissimos oodio con ipsum  dignissimos oodio con ipsum  dignissimos odio con ipsum  dignissimos odio consequatur, praesentium?</p>

                <%= link_to 'All polls', add_propositions_poll_path(@poll), class: "btn btn-default"%>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
